<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<h1>Hello, Fitness World!</h1>
<p><strong> Exercise </strong> to be fit, not skinny. <strong> Eat </strong> to nourish your body.<strong> Ignore </strong> the haters, doubters, and unhealthy examples that were once feeding you. <strong> You</strong> are worth more than you realize. </p>
<p><a href="/activities/#{activity["id"]}" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
