<% all_types = Type.read %>

<h2>What sort of workout are you looking for friend? </h2>

<ul>

  <% all_types.each do |type| %>

    <li>
      <%= link_to type["name"], "/types/#{type["id"]}" %>

    </li>

  <% end %>

</ul>


