
<% all_users = User.read %>

Not a Fit Friend Yet?  <%= link_to "Sign Up to Become a Fit Friend", "/users/new" %>


<h2>Look at who is staying Fit!  Click on a Fit Friend to see how they are staying fit! </h2>

<ul>

  <% all_users.each do |user| %>

    <li>
      <%= link_to user["name"], "/users/#{user["id"]}" %>
    </li>

  <% end %>

</ul>




