<% all_users = User.read %>

<h2> <strong> <font color = "blue"> Look at who is staying Fit!  Click on a Fit Friend to see how they are staying fit! </font> </strong> </h2>

<h3> <em> Not a Fit Friend Yet?  <%= link_to "Sign Up to Become a Fit Friend", "/users/new" %> </em> </h3>

<ul>

  <% all_users.each do |user| %>

    <li>
      <%= image_tag user["photo_url"], "width" => "120" %>
      <%= link_to user["name"], "/users/#{user["id"]}" %>
    </li>

  <% end %>

</ul>



