<% user_id = params["id"] %>
<% user = User.read(user_id) %>

My Favorite workouts are: Swimming, running, and Boxing (but only if it's with Sheila!)

<div class="row">

  <div class="col-md-3">
    Sunday

  </div>

  <div class="col-md-3">
    Monday

  </div>

  <div class="col-md-3">
    Tuesday

  </div>

  <div class="col-md-3">
    Wednesday

</div>

<div class="row">

  </div>

  <div class="col-md-3">
    Thursday

  </div>

  <div class="col-md-3">
    Friday

  </div>

  <div class="col-md-3">
    Saturday

  </div>

</div>

