<h1>Add a New Workout</h1>

<form action="/activities" method="post">

  <p>
    <label>What do you want to do?</label>
    <% form_for Activity.new do |f| %>
    <%= f.text_field :activity %>
    <%= f.select :activity, [['Boxing','boxing'],['Swimming','swimming'],['Crossfit','crossfit'], ['Running','running'], ['Spinning','spinning'], ['Yoga','yoga'], ['Cycling','cycling'], ['Weight Training','weight training']] %>
    <%= f.submit %>
<% end %>


  </p>


  <p>
    <label>Do you have a link to a photo?</label>
    <input type="text" name="url">
  </p>

  <input type="submit"> or <a href="/directors">Cancel</a>

</form>
